{% extends "base.html.twig" %}

{% block main %}
<div class="form-container container white">
    <h2 class="center-align">New Chapter</h2>

    {{ form_start(form) }}
    {# render the task's only field: description #}
    <div class="row">
        <div class="col m6">
            {{ form_row(form.title) }}
        </div>
        <div class="col m4 offset-m2">
            {{ form_row(form.type) }}
        </div>
    </div>
    <div class="row">
        <div class="col m10 offset-m1 s12">
            {{ form_row(form.textContent1) }}
        </div>
    </div>


    <div class="items-container row">
        <div class="row">
            <div class="col m10 offset-m1 center-align">
                <h5>Monsters to fight</h5>
                <p>If you add monsters to a chapter, it will trigger a fight. Items to be picked, the second part of the chapter and choices will display only when the fight is finished</p>
                <ul class="npcs row" data-prototype="{{ form_widget(form.npcs.vars.prototype)|e('html_attr') }}">
                    {% for npc in form.npcs %}
                        <li class="center-align">
                            {{ form_label(npc) }}
                            {{ form_widget(npc) }}
                            {{ form_errors(npc) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col m10 offset-m1 s12 pickable-items">
                <h5 class="center-align">Items to pick up in this chapter</h5>
                <div class="row">
                    <div class="col m4 offset-m1 center-align">
                        <h6>Weapons</h6>
                        <ul class="weapons" data-prototype="{{ form_widget(form.weapons.vars.prototype)|e('html_attr') }}">
                            {% for weapon in form.weapons %}
                                <li>
                                    {{ form_label(weapon) }}
                                    {{ form_widget(weapon) }}
                                    {{ form_errors(weapon) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col m4 offset-m1 center-align">
                        <h6>Special items</h6>
                        <ul class="specialItems" data-prototype="{{ form_widget(form.specialItems.vars.prototype)|e('html_attr') }}">
                            {% for specialItem in form.specialItems %}
                                <li>
                                    {{ form_label(specialItem) }}
                                    {{ form_widget(specialItem) }}
                                    {{ form_errors(specialItem) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col m4 offset-m1 center-align">
                        <h6>Consumable items</h6>
                        <ul class="consumableItems" data-prototype="{{ form_widget(form.consumableItems.vars.prototype)|e('html_attr') }}">
                            {% for consumableItem in form.consumableItems %}
                                <li>
                                    {{ form_label(consumableItem) }}
                                    {{ form_widget(consumableItem) }}
                                    {{ form_errors(consumableItem) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class=" col m4 offset-m1 gold-chapter-form">
                        <h6 class="center-align">Gold to pick up: </h6>
                        {{ form_widget(form.gold) }}
                        {{ form_label(form.gold) }}
                        {{ form_errors(form.gold) }}
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s10 offset-s1">
            {{ form_label(form.textContent2) }}
            {{ form_widget(form.textContent2) }}
            {{ form_errors(form.textContent2) }}
        </div>
    </div>


    <div class="row">
        <div class="col s12 m10 offset-m1">
            <h4 class="center-align">End of chapter: Choices</h4>
            <ul class="choices"
                data-prototype="
         {% filter escape %}
             {{ include('form/prototype/choice-form.html.twig', { 'choice': form.choices.vars.prototype }) }}
         {% endfilter %}">
                {% for choice in form.choices %}
                    {{ include('form/prototype/choice-form.html.twig', {'choice': choice}) }}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col m6 offset-m3 s4 offset-s4 center-align">

            <button type="submit" class ="waves-effect waves-light light-green accent-4 btn btn-large"><i class="material-icons right">note_add</i>Save this chapter</button>

        </div>
    </div>

    {{ form_end(form) }}

</div>

{% endblock %}

