{% extends "base.html.twig" %}

{% block main %}
<div class="hero-form-container">
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 white">
            <h3 class="center-align teal-text">Create your hero</h3>
            {{ form_start(form) }}

            <div class="row">
                <div class="col s6 offset-s3 center-align">
                    {{ form_label(form.name, "Enter the name of your hero") }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="row">
                        <div class="s6 offset-s3 center-align">
                            <h4 class="center-align teal-text">Choose your skills</h4>
                            <em class="center-align teal-text">*You need to select {{ ruleset.maxSkill }} skills</em>
                        </div>
                    </div>

                    <div class="row">
                    {{ form_errors(form.skills) }}
                    {% for skill in form.skills %}

                        <div class="col m5 offset-m1 s12">
                            <label for="">
                                {{ form_widget(skill, {"attr": {"class": "hero_skill_checkbox"}}) }}
                                <span>
                                    {{ form_label(skill) }}
                                </span>
                            </label>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class ="waves-effect waves-light btn btn-large"><i class="material-icons right">directions_run</i>Create</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}