{% extends "base.html.twig" %}

{% block body %}

<h3>{{ story.title }}</h3>
<quote>{{ story.author }}</quote>
<p>{{ story.saga }}</p>

    {% if story.ruleset %}
    <a href="{{ path('rulesetDisplay', {"slug": story.slug, "id": story.ruleset.id}) }}"><button class="btn btn-primary">View Rules</button></a>
    <a href="{{ path('rulesetRemove', {"slug": story.slug, "id": story.ruleset.id}) }}"><button class="btn btn-primary">Delete Rules</button></a>
    {% endif %}
    {% if not story.ruleset %}
        <a href="{{ path('rulesetCreate', {"slug": story.slug}) }}"><button class="btn btn-success">Create rules</button></a>
    {% endif %}


<h4>List of chapters</h4>
    <ul>
        {% for chapter in story.chapters %}
            <a href="{{ path('chapterEdit', {"slug" : story.slug, "id": chapter.id}) }}">{{ chapter.title }}
            </a>
            <a href="{{ path('chapterRemove', {"slug": story.slug, "id": chapter.id}) }}"><button class="btn btn-danger">delete the chapter</button></a>

        {% endfor %}
    </ul>
    <a href="{{ path('chapterForm', {'slug': story.slug}) }}"><button class="btn btn-warning">Add a chapter</button></a>
<h4>Your heroes</h4>
    <ul>
        {% for hero in heroes %}
            <a href="{{ path('heroResume', {"slug": story.slug, "id": hero.id}) }}"><button class="btn btn-success">Hero details</button></a>
        {% endfor %}
    </ul>
<h4>list of skills made for this story</h4>
<ul>
    {% for skill in story.skills %}
        <a href="{{ path('skillEdit', {"slug": story.slug, "id": skill.id}) }}"><li> {{ skill.name }}</li></a>
    {% endfor %}
</ul>
    <a href="{{ path('skillForm', {'slug': story.slug}) }}"><button class="btn btn-warning">Add a skill to the story</button></a>

<h4>list of weapons made for this story</h4>
<ul>
    {% for weapon in story.weapons %}
        <a href="{{ path('weaponEdit', {"slug": story.slug, "id": weapon.id}) }}"><li>{{ weapon.name }}</li></a>
    {% endfor %}
</ul>
    <a href="{{ path('weaponForm', {'slug': story.slug}) }}"><button class="btn btn-warning">Add a weapon to the list</button></a>

<h4>List of special items made for this story</h4>
<ul>
    {% for specialItem in story.specialItems %}
        <a href="{{ path('specialItemEdit', {"slug": story.slug, "id": specialItem.id}) }}"><li>{{ specialItem.name }}</li></a>
    {% endfor %}
</ul>
    <a href="{{ path('specialItemForm', {'slug': story.slug}) }}"><button class="btn btn-warning">Add a special item to the list</button></a>

<h4>List of consumable items made for this story</h4>
<ul>
    {% for consumableItem in story.consumableItems %}
        <a href="{{ path('consumableEdit', {"slug": story.slug, "id": consumableItem.id}) }}"><li>{{ consumableItem.name }}</li></a>
    {% endfor %}
</ul>
    <a href="{{ path('consumableForm', {'slug': story.slug}) }}"><button class="btn btn-warning">Add a consumable item to the list</button></a>

<h4>list of non playable characters made for this story</h4>
<ul>
    {% for npc in story.npcs %}
        <a href="{{ path('npcEdit', {'slug': story.slug, 'id': npc.id}) }}"><li>{{ npc.name }}</li></a>
    {% endfor %}
</ul>
    <a href="{{ path('npcForm', {'slug': story.slug}) }}"><button class="btn btn-warning">Add a character to the list</button></a>

<footer>
    <a href="{{ path("storyRemove", {"slug": story.slug}) }}"><button class="btn btn-danger">Delete the story</button></a>
    {% if starter %}
    <a href="{{ path('chapter', {"slug": story.slug, "id": starter.id}) }}"><button class="btn btn-secondary">Start the story</button></a>
    {% endif %}
    <a href="{{ path('newHero', {"slug": story.slug}) }}"><button class="btn btn-success">Create your hero</button></a>
</footer>

{% endblock %}