<ul id="slide-out" class="sidenav">
    <li class="sidenav-header"><div class="user-view valign-wrapper">
            <div class="background">
                <img src="{{ asset('/build/images/bg-home.4a71623f.jpg') }}" alt="side_nav_header" class ="responsive-img">
            </div>

            <a href="{{ path('homepage') }}" class="brand-logo center">Gamebook</a>
        </div></li>
    <li><a class="waves-effect waves-teal" href="{{ path('homepage') }}">Home</a></li>
    <li><a class="waves-effect waves-blue" target="_self" href="{{ path('about') }}">About</a></li>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if app.user.roles[0] == "ROLE_ADMIN" %}
            <li><a class="waves-effect waves-yellow" href="{{ path('editor_index') }}">Editor</a></li>
        {% endif %}
        <li><a class="waves-effect waves-green" href="{{ path('adventure_stories') }}">Adventures</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-red">Profile<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a class="waves-effect waves-red" href="{{ path('account_edit') }}">Account</a></li>
                            <li><a class="waves-effect waves-red" href="{{ path('security_logout') }}">Log out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

    {% else %}
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect waves-red">Connect<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a class="waves-effect waves-red" href="{{ path('security_login') }}">Log in</a></li>
                            <li><a class="waves-effect waves-red" href="{{ path('security_register') }}">Sign up</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    {% endif %}
</ul>