{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - home{% endblock %}

{% block main %}
<div class="container homepage">

    <div class="row center-align card-home-container valign-wrapper">
        <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3 welcome-container">
                <h4 class="center-align">LIVE EPIC ADVENTURES !</h4>
            <img src="{{ asset('build/images/forest.88c6b23d.jpg') }}" class="circle responsive-img" alt="forest">
            <div class="row">
                <div class="col s12 flow-text white-text">
                    <p><strong>Welcome to gamebook !</strong> <br/> A place where you can go on epic adventures through interactive stories.
                    </p>
                </div>
            </div>
            <div class="row">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="col s12 center-align">
                    <a role="button" class="btn waves-effect waves-light teal pulse" href="{{ path('adventure_stories') }}">Go on adventure</a>
                </div>
                {% else %}
                <div class="col s6 center-align">
                    <a role="button" class="btn waves-effect waves-light blue pulse" href="{{ path('security_register') }}">Sign up</a>
                </div>
                <div class="col s6 center-align">
                    <a role="button" class="btn waves-effect waves-light teal pulse" href="{{ path('security_login') }}">Sign in</a>
                </div>
                {% endif %}
            </div>

        </div>




    </div>
</div>

{% endblock %}
