{% extends "base.html.twig" %}

{% block main %}

    <div class="story-elements-container container">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <div class="row">
                    <div class="col s12">
                        <h3 class="teal-text center-align">My informations</h3>
                    </div>
                </div>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col s6 offset-s3 center-align">
                        {{ form_errors(form.email) }}
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 offset-s3 center-align">
                        {{ form_errors(form.username) }}
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 offset-s3 center-align">
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 offset-s3 center-align">
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="waves-effect waves-light btn" type="submit">Modify my information</button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}