{% extends "base.html.twig" %}

{% block title %}Death{% endblock %}

{% block main %}

    <div class="container story-elements-container">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s12">
                        <h3 class="red-text text-accent-4 center-align">Your hero died</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 m6 offset-m3">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{ asset('build/images/excalibur-hd.c188dace.jpg') }}">
                                <span class="card-title">{{ hero.name }}</span>

                            </div>
                            <div class="card-content">
                                <p>Number of chapters traveled : {{ hero.chapterIterator }}</p>
                                <p>Gold in purse: {{ hero.gold }}</p>
                            </div>
                            <div class="card-action story-action-card valign-wrapper">
                                <div class="story-author-card">
                                    <p>{{ story.title }}</p>
                                </div>
                                <div class="publish-button-card">
                                    <a role="button" class="btn waves-effect waves-light purple darken-1" href="{{ path('adventure_stories') }}#adventure-graveyard">
                                        Pay respect
                                        <i class="material-icons right">nature</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 m8 offset-m2 center-align">
                        <h6>Your hero died, but his bravery will not be forgotten!</h6>
                        <blockquote>
                            Your hero is now resting in the graveyard, you can check the stats of all your fallen heroes in this place
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}