{% extends "base.html.twig" %}

{% block title %}Death{% endblock %}

{% block main %}

    <div class="container story-elements-container">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s12">
                        <h3 class="teal-text text-accent-4 center-align">Your hero finished the adventure : Congratulations!</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 m6 offset-m3">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{ asset('build/images/tavern-hero.ef19884c.jpg') }}">
                                <span class="card-title">{{ hero.name }}</span>

                            </div>
                            <div class="card-content">
                                <p>Number of chapters traveled : {{ hero.chapterIterator }}</p>
                                <p>Gold in purse: {{ hero.gold }}</p>
                            </div>
                            <div class="card-action story-action-card valign-wrapper">
                                <div class="story-author-card">
                                    <p>{{ story.title }}</p>
                                </div>
                                <div class="publish-button-card">
                                    <a role="button" class="btn waves-effect waves-light amber darken-1" href="{{ path('adventure_stories') }}#adventure-tavern">
                                        Now celebrating at the tavern
                                        <i class="material-icons right">donut_small</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 m8 offset-m2 center-align">
                        <h6>Your hero finished this adventure and is now located at the tavern!</h6>
                        <blockquote>
                            Your hero is now resting in the tavern. You can check the stats of all your heroes that survived their adventure in this place
                            where they are telling about their achievements until a new adventure comes up for them.
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}