{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Editor{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col s12 m10 offset-m1">
                <h2 class="center-align blue-text text-lighten-4">Choose your adventure</h2>
                
                <div class="row">
                    {% for story in stories %}
                        <div class="col s6">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img src="{{ asset('build/images/mystic_book_by_adalbertofsouza-d2xvmui.25355ce3.jpg') }}">
                                    <span class="card-title">{{ story.title }}</span>
                                    <!-- To add when stories are locked -->
                                    {#
                                    <a href="{{ path('editor_story', {'slug': story.slug}) }}" class="btn-floating halfway-fab waves-effect waves-light amber darken-1">
                                        <i class="material-icons">add</i>
                                    </a>
                                    #}
                                </div>
                                <div class="card-content">
                                    <p>{{ story.summary|truncate(100, true) }}</p>
                                </div>
                                <div class="card-action story-action-card">
                                    <div class="story-author-card">
                                        <p>{{ story.author }}</p>
                                    </div>
                                    <div class="publish-button-card">
                                        <a role="button" class="btn waves-effect waves-light amber darken-1" href="{{ path('story_play', {"slug": story.slug}) }}">
                                            Play
                                            <i class="material-icons right">gamepad</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}