
<div id="editor-chapters" class="col s12 m10 offset-m1 l8 offset-l2 center-align">
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating blue-grey" href="#top"><i class="material-icons">arrow_drop_up</i></a></li>
            <li><a class="btn-floating teal tooltipped" data-position="left" data-delay="50" data-tooltip="Add a chapter" href="{{ path('chapter_add', {"slug": story.slug}) }}"><i class="material-icons">note_add</i></a></li>
        </ul>
    </div>
        <div class="row">
            <div class="col s12">
                <h3 class="center-align">{{ story.title }} - List of chapters</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {% if chapters %}
                    <ul class="collapsible popout">
                        {% for chapter in chapters %}
                            <li class="chapter-item" id="{{ chapter.title }}">
                                <div class="collapsible-header">
                                    <div class="header-container">
                                        <img src="{{ asset('/build/images/open_book.2f5b40fe.jpg') }}" alt="open_book" class="circle responsive-img">
                                        <span class="valign-wrapper left-align">{{ chapter.title }}
                                            {% if chapter.type == "death" %}
                                                <i class="material-icons deep-orange-text right tooltipped" data-position="top" data-delay="50" data-tooltip="Death">warning</i>
                                            {% endif %}
                                            {% if chapter.type == "starter" %}
                                                <i class="material-icons green-text right tooltipped" data-position="top" data-delay="50" data-tooltip="Starter">details</i>
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="chips-container valign-wrapper">
                                        {% if chapter.weapons|length > 0 %}
                                            <div class="chip green white-text tooltipped" data-position="top" data-delay="50" data-tooltip="Weapons">
                                                {{ chapter.weapons|length }}
                                            </div>
                                        {% endif %}
                                        {% if chapter.specialItems|length > 0 %}
                                            <div class="chip blue white-text tooltipped" data-position="top" data-delay="50" data-tooltip="Special Items">
                                                {{ chapter.specialItems|length }}
                                            </div>
                                        {% endif %}
                                        {% if chapter.consumableItems|length > 0 %}
                                            <div class="chip purple white-text tooltipped" data-position="top" data-delay="50" data-tooltip="Consumable Items">
                                                {{ chapter.consumableItems|length }}
                                            </div>
                                        {% endif %}
                                        {% if chapter.gold > 0 %}
                                            <div class="chip amber white-text tooltipped" data-position="top" data-delay="50" data-tooltip="Gold">
                                                {{ chapter.gold }}
                                            </div>
                                        {% endif %}
                                        {% if chapter.npcs|length > 0 %}
                                            <div class="chip red white-text tooltipped" data-position="top" data-delay="50" data-tooltip="Opponents">
                                                {{ chapter.npcs|length }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <a href="{{ path('chapter_edit', {"slug": story.slug, "id": chapter.id}) }}" class="secondary-content valign-wrapper">
                                        <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Edit">build</i>
                                    </a>

                                </div>
                                <div class="collapsible-body">
                                    <a role="button" class="btn-floating waves-effect waves-circle waves-red transparent right align" href="{{ path('chapter_delete', {"slug": story.slug, "id": chapter.id}) }}">
                                        <i class="material-icons circle tooltipped red-text" data-position="right" data-delay="50" data-tooltip="Delete">close</i>
                                    </a>
                                    <div class="row">
                                        <div class="col s12">
                                            <p class="center-align">{{ chapter.textContent1|truncate(200) }}</p>
                                        </div>
                                    </div>
                                    {% if chapter.choices|length > 0 %}
                                        <div class="row ">
                                            <div class="col s12 choice-list">
                                                {% for choice in chapter.choices %}
                                                    <div class="choice-item center-align">
                                                        <a href="#{{ choice.targetChapter.title }}" role="button" class="btn waves-light waves-effect red lighten-2">
                                                            {% if choice.locked %}
                                                                <i class="material-icons circle right white-text tooltipped" data-position="top" data-delay="50" data-tooltip="Choice locked">vpn_key</i>
                                                            {% endif %}
                                                            {{ choice.targetChapter.title }}
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

