{% extends "base.html.twig" %}

{% block body %}

    <div class="container-fluid">
        {{ story.title }}
        <div class="row" >
            <div class="col-sm-8 col-sm-offset-1">
                <h4>{{ chapter.title }}</h4>
                <div class="text-content">
                    {{ chapter.textContent1 }}
                </div>
                {#{% if chapter.specialItems %}#}
                <div>
                    {% for item in specialItems %}
                        <a href="{{ path('pickupSpecialItem', {"slug": story.slug, "idHero": hero.id, "idChapter": chapter.id, "idItem": item.id}) }}">
                            <button class="btn btn-primary">{{ item.name }}</button>
                        </a>
                    {% endfor %}
                </div>
                    {#{% endif %}#}
                {#{% if chapter.consumableItems %}#}
                    <div>
                        {% for item in consumableItems %}
                            <a href="{{ path('pickupConsumableItem', {"slug": story.slug, "idHero": hero.id, "idChapter": chapter.id, "idItem": item.id}) }}">
                                <button class="btn btn-primary">{{ item.name }}</button>
                            </a>
                        {% endfor %}
                    </div>
                {#{% endif %}#}
                <div class="align-items-bottom">
                     {% for choice in choices %}
                         {% if choice.goldRequired > 0 or choice.itemRequired %}
                             <a href="{{ path('tradeGoldOrItem', {"slug": story.slug, "idHero": hero.id, "idChoice": choice.id}) }}"><button class="btn btn-primary">{{ choice.description }}</button></a>
                          {% else %}
                             <a href="{{ path('adventure', {"slug": story.slug, "idHero": hero.id, "id": choice.targetChapter.id}) }}"><button class="btn btn-primary">{{ choice.description }}</button></a>
                        {% endif %}
                     {% endfor %}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        {{ hero.name }}
                    </div>
                    <div class="col-sm-12">
                        Life : {{ hero.life }}
                    </div>
                    <div class="col-sm-12">
                        Energy : {{ hero.energy }}
                    </div>
                    <div class="col-sm-12">
                        Gold : {{ hero.gold }}po
                    </div>
                    <div class="col-sm-12">
                        {% for weapon in hero.weapons %}
                            {{ weapon.name }}
                        {% endfor %}
                    </div>
                    <div class="col-sm-12">
                        {% for item in hero.specialItems %}
                            {{ item.name }} <br/>
                        {% endfor %}
                    </div>
                    <div class="col-sm-12">
                        {% for item in hero.backpackItems %}
                            {{ item.item.name }} x{{ item.stock }}<br/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}