{% extends "base.html.twig" %}

{% block body %}

<h3>{{ story.title }}</h3>
<quote>{{ story.author }}</quote>
<p>{{ story.saga }}</p>

<h4>list of skills made for this story</h4>
<ul>
    {% for skill in story.skills %}
    <li> {{ skill.name }}</li>
    {% endfor %}
</ul>

<h4>list of weapons made for this story</h4>
<ul>
    {% for weapon in weapons %}
    <li> {{ weapon.name }}</li>
    {% endfor %}
</ul>

<h4>list of non playable characters made for this story</h4>
<ul>
    {% for npc in npcs %}
    <li> {{ npc.name }}</li>
    {% endfor %}
</ul>

<h4>Add something</h4>
<ul>
    <a href="{{ path('skillForm', {'id': story.id}) }}"><li>Add a skill to the story</li></a>
    <a href="{{ path('weaponForm', {'id': story.id}) }}"><li>Add a weapon to the list</li></a>
    <a href="{{ path('npcForm', {'id': story.id}) }}"><li>Add a character to the list</li></a>
</ul>

<a href=" {{ path('index') }}"><button class="btn btn-primary">Back to Homepage</button></a>

{% endblock %}